# Analyzing River Thames Water Levels
Time series data is everywhere, from watching your stock portfolio to monitoring climate change, and even live-tracking as local cases of a virus become a global pandemic. In this project, you’ll work with a time series that tracks the tide levels of the Thames River. You’ll first load the data and inspect it data visually, and then perform calculations on the dataset to generate some summary statistics. You’ll end by decomposing the time series into its component attributes and analyzing them. 

The original dataset is available from the British Oceanographic Data Center [here](https://www.bodc.ac.uk/data/published_data_library/catalogue/10.5285/b66afb2c-cd53-7de9-e053-6c86abc0d251) and you can read all about this fascinating archival story in [this article](https://www.nature.com/articles/s41597-022-01223-7) from the Nature journal.

Here's a map of the locations of the tidal gauges along the River Thames in London.

![](locations.png)

The dataset comes with a file called `Data_description.pdf`. The dataset consists of 13 `.txt` files, containing comma separated data. We'll begin by analyzing one of them, the London Bridge gauge, and preparing it for analysis. The same code can be used to analyze data from other files (i.e. other gauges along the river) later.



| Variable Name | Description | Format |
| ------------- | ----------- | ------ |
| Date and time | Date and time of measurement to GMT. Note the tide gauge is accurate to one minute. | dd/mm/yyyy hh:mm:ss |
| Water level | High or low water level measured by tide gauge. Tide gauges are accurate to 1 centimetre. | metres (Admiralty Chart Datum (CD), Ordnance Datum Newlyn (ODN or Trinity High Water (THW)) | 
| Flag | High water flag = 1, low water flag = 0 | Categorical (0 or 1) |

In [1]:
# We've imported your first Python package for you, along with a function you will need called IQR
import pandas as pd               

def IQR(column): 
    q25, q75 = column.quantile([0.25, 0.75])
    return q75-q25

In [2]:
# Load in data
lb = pd.read_csv('data/10-11_London_Bridge.txt', usecols=[0,1,2])

# Display the results
lb

              Date and time  water level (m ODN)   flag
0       01/05/1911 15:40:00               3.7130      1
1       02/05/1911 11:25:00              -2.9415      0
2       02/05/1911 16:05:00               3.3828      1
3       03/05/1911 11:50:00              -2.6367      0
4       03/05/1911 16:55:00               2.9256      1
...                     ...                  ...    ...
115498  30/12/1995 20:44:00               3.2900      1
115499  31/12/1995 02:32:00              -1.6000      0
115500  31/12/1995 08:59:00               3.2000      1
115501  31/12/1995 15:03:00              -1.8000      0
115502  31/12/1995 21:50:00               3.1700      1

[115503 rows x 3 columns]

In [3]:
# Check to find spaces in column names
lb.columns

Index(['Date and time', ' water level (m ODN)', ' flag'], dtype='object')

In [4]:
# Create a dictionary to rename columns
columns = { 'Date and time': 'datetime',
            ' water level (m ODN)': 'water_level',
            ' flag': 'is_high_tide'}

# Filter for the first three columns and rename columns
df = lb.rename(columns=columns)

# Display results
df

                   datetime water_level  is_high_tide
0       01/05/1911 15:40:00      3.7130             1
1       02/05/1911 11:25:00     -2.9415             0
2       02/05/1911 16:05:00      3.3828             1
3       03/05/1911 11:50:00     -2.6367             0
4       03/05/1911 16:55:00      2.9256             1
...                     ...         ...           ...
115498  30/12/1995 20:44:00      3.2900             1
115499  31/12/1995 02:32:00     -1.6000             0
115500  31/12/1995 08:59:00      3.2000             1
115501  31/12/1995 15:03:00     -1.8000             0
115502  31/12/1995 21:50:00      3.1700             1

[115503 rows x 3 columns]

In [5]:
# Check data types
df.dtypes

datetime        object
water_level     object
is_high_tide     int64
dtype: object

In [6]:
# Convert datetime column to datetime
df['datetime'] = pd.to_datetime(df['datetime'])

# Convert water_level to float 
df['water_level'] = df['water_level'].astype(float)

# Check data types
df.dtypes

datetime        datetime64[ns]
water_level            float64
is_high_tide             int64
dtype: object

In [7]:
# Create two new columns for month and year
df['month'] = df['datetime'].dt.month
df['year']= df['datetime'].dt.year

# Show df
df

                  datetime  water_level  is_high_tide  month  year
0      1911-01-05 15:40:00       3.7130             1      1  1911
1      1911-02-05 11:25:00      -2.9415             0      2  1911
2      1911-02-05 16:05:00       3.3828             1      2  1911
3      1911-03-05 11:50:00      -2.6367             0      3  1911
4      1911-03-05 16:55:00       2.9256             1      3  1911
...                    ...          ...           ...    ...   ...
115498 1995-12-30 20:44:00       3.2900             1     12  1995
115499 1995-12-31 02:32:00      -1.6000             0     12  1995
115500 1995-12-31 08:59:00       3.2000             1     12  1995
115501 1995-12-31 15:03:00      -1.8000             0     12  1995
115502 1995-12-31 21:50:00       3.1700             1     12  1995

[115503 rows x 5 columns]

In [8]:
# Create variable tide_high
tide_high = df[df['is_high_tide'] == 1]['water_level']

# Create variable tide_low
tide_low = df[df['is_high_tide'] == 0]['water_level']

# Create summary statistics dictionary for high tide and low tide
high_statistics = tide_high.agg(['mean', 'median', IQR]).to_dict()
low_statistics = tide_low.agg(['mean', 'median', IQR]).to_dict()

In [9]:
# Print summary statistics for high tide
print("High Tide Statistics:")
for stat, value in high_statistics.items():
    print(f"{stat}: {value}")

# Print summary statistics for low tide
print("\nLow Tide Statistics:")
for stat, value in low_statistics.items():
    print(f"{stat}: {value}")

High Tide Statistics:
mean: 3.3183726156555977
median: 3.3526
IQR: 0.7436000000000003

Low Tide Statistics:
mean: -2.3837365821465784
median: -2.4129
IQR: 0.5382000000000002

In [12]:
# Count the number of days of high tide per year
all_high_days = df.query('is_high_tide==1').groupby('year').count()['water_level']

# Filter rows where water level was above the 75th percentile
high_days = df.query(f'(water_level>{tide_high.quantile(0.75)}) & (is_high_tide==1)').groupby('year').count()['water_level']

# Calculate the high_ratio
high_ratio = (high_days/all_high_days).reset_index()

In [15]:
# Count the number of days of low tide per year
all_low_days = df.query('is_high_tide==0').groupby('year').count()['water_level']

# Filter rows where 'water_level' is less than the 25th percentile
low_days = df.query(f'(water_level<{tide_low.quantile(0.25)}) & (is_high_tide==0)').groupby('year').count()['water_level']

# Calculate the low_ratio
low_ratio = (low_days/all_low_days).reset_index()

In [16]:
# Create a dictionary of variables
solution = {
    'high_statistics': high_statistics,
    'low_statistics': low_statistics,
    'high_ratio': high_ratio,
    'low_ratio': low_ratio
}

# Print the results
print(solution)

{'high_statistics': {'mean': 3.3183726156555977, 'median': 3.3526, 'IQR': 0.7436000000000003}, 'low_statistics': {'mean': -2.3837365821465784, 'median': -2.4129, 'IQR': 0.5382000000000002}, 'high_ratio':     year  water_level
0   1911     0.032787
1   1912     0.127469
2   1913     0.186846
3   1914     0.161572
4   1915     0.219219
..   ...          ...
80  1991     0.252125
81  1992     0.265912
82  1993     0.317597
83  1994     0.357447
84  1995     0.324823

[85 rows x 2 columns], 'low_ratio':     year  water_level
0   1911     0.203463
1   1912     0.192793
2   1913     0.102985
3   1914     0.141618
4   1915     0.139818
..   ...          ...
80  1991     0.312057
81  1992     0.265912
82  1993     0.252496
83  1994     0.252482
84  1995     0.246809

[85 rows x 2 columns]}